{{define "index"}}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dav1denkO</title>
<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/main.css">
<script src="https://kit.fontawesome.com/a29e9c97c7.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">Dav1denk<i class="fa fa-circle-o"></i></a>
    </div>
    <div class="navbar-collapse collapse">
<ul class="nav navbar-nav navbar-right">
    <li><a href="#about_me" data-target="listLink"><i class="fa fa-address-card"></i>About me</a></li>
    <li><a href="#lastProject" data-target="listLink"><i class="fa fa-project-diagram"></i>Projects</a></li>
    <li><a href="#contacts" data-target="listLink"><i class="fa fa-envelope-o" aria-hidden="false"></i>Contacts</a></li>   
</ul>

    </div>
</div>
</div>
</header>
<div id="headerwrap">
    <div class="container">
        <div class="row centered">
<div class="col-lg-9 col-lg-offset-2">
   <h1>I create IT products</h1> 
</div>
        </div>
    </div>
</div>
<div class="container w">
  <div class="row centered">
    <h2>Development</h2> 
<div class="col-lg-4">
    <i class="fa fa-laptop"></i>
    <h4>Frontend</h4>
    <p class="text-justify">Anything the browser can display on the screen.
        In fact, when you go to any site, you see buttons, text,
        various animations and other components - all this is implemented using the frontend.
</p>
</div>
<div class="col-lg-4">
    <i class="fa fa-server"></i>
    <h4>Backend</h4>
    <p class="text-justify">Everything that runs on the server, i.e. "not in the browser" or "on the computer,
        connected to a network (usually the Internet) that responds to messages from other computers."</p>
</div>
<div class="col-lg-4">
    <i class="fa fa-mobile"></i>
    <h4>Android</h4>
    <p class="text-justify">Mobile applications for smartphones, tablets, e-books, game consoles and other devices running on the Android operating system.</p>
</div>
  </div>  
  <br><br>
</div>
<div id="dg">
    <div class="container">
        <div class="row centered">
            <h4 id="lastProject">Latest projects</h4>
            <br>
            <div class="col-lg-4">
                <div class="tilt">
                    <img src="/img/logo_app_x250.jpg" alt="text">
                    <h5>Current weather app</h5>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tilt">
                    <img src="/img/boxesProduct_x250.jpg" alt="text">
                    <h5>Layout ShopBox</h5>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tilt">
                    <img src="/img/spring-boot_x250.jpg" alt="text">
                    <h5>Processing documents</h5>
                </div>
            </div>
        </div>
        <div>
            <a class="btn btn-default btn-lg" href="/allProject" role="button">View all projects</a>
        </div>
    </div>
</div>
<div class="container wb">
    <div class="row centered">
        <br><br>
        <div class="col-lg-8 col-lg-offset-2">
            <h4 id="about_me">What can I do?</h4>
            <p class="text-justify">My name is Dmitriy. I am learning to create websites and mobile applications.
                My goal is to create the best services and solutions for business.
                 I completed the necessary courses and now I am creating and developing my projects.
            </p>
        </div>
    </div>
</div>
<div id="r">
    <div class="container">
        <div class="row centered">
          <div class="col-lg-8 col-lg-offset-2">
            <h4 id="contacts">Contacts</h4>
            <ul class="text-left">
                <li><i class="fa fa-envelope-o"></i>Email: david3nko_dmitriy@mail.ru</li>
                <li><i class="fa fa-stack-overflow"></i>StackOverFlow: <a href="https://ru.stackoverflow.com/users/507172/liki">507172</a> </li>
                <li><i class="fa fa-github"></i>Github: <a href="https://github.com/Dav1denko">Dav1denko</a></li>
              </ul>
          </div>  
        </div>
    </div>
</div>
<footer>
<div id="f">
    <div class="container">
        <div class="row centered">
            <a href="https://github.com/Dav1denko"><i class="fa fa-github"></i></a>
        </div>
    </div>
</div>
</footer>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>

{{end}}